body{
    text-align: center;
    margin: 0;
}
/* top-section */
#top
{
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.container-fluid{
    padding: 3%;
    background-color: black;
    
}
.nav-brand{
    display: inline;
    float: left;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.brand{
    color: white;
}
.search-container{
    display: inline-block;
    margin: 0;
    background-color: white;
}
input[type=text] {
    font-size: 17px;
    border: none;
    background-color: white;
    padding: 10px;
    width: 400px;
    outline: none;
  }
.search-btn {
    padding: 10px 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: #F2F2F2;
  }
.nav-items{
    display: inline;
    float: right;
    padding-top: 10px;
}
a{
    text-decoration: none;
}
.item{
    margin: 0 20px;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.item:hover{
    color: silver;
    display: inline-flex;
    position: relative;
}
/*              MIDDLE CONTAINTER                */
#middle
{
    padding-top: 200px;
    padding: 0;
}
  .mode {
    float:right;
}
.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}
.dark{
    background-color: #222;
    color: #e6e6e6;
}
.btn{
    height: 30px;
    width: 30px;
}
.card-g{
    text-align: center;
    padding-top: 12%;
    padding-bottom: 7%;
    background-color: #DCD7C9;
  }
  .problems{
    font-size: 2rem;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 1px ;
  }
  .card{
    width: 300px;
    height: 400px;
    background: #000;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    align-items: right;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease;
    backface-visibility: hidden;
    margin:  50px;
  }
.card:hover{
    transform: scale(0.9);
}
.card:hover:after{
    height: 280px;
}
.card:hover .card-text p{
    margin-bottom: 0px;
    opacity: 1;
}
.card:hover img{
    transform: scale(1.25);
}
.card:after{
    width: 100%;
    content: "";
    left: 0;
    bottom: 0;
    height: 150px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 20;
    transition: all 0.25s ease;
}
.card img{
    height: 100%;
    z-index: 10;
    transition: all 0.25s ease;
}
.card .card-text{
    z-index: 30;
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 20px;
    padding-bottom: 30px;
    letter-spacing: 1px;
}
.card .card-text p{
    font-size: 1.2rem;
    opacity: 0;
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    font-family:  monospace;
}
.card .card-text p button{
    padding: 7px 17px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    transition: all .25s ease;
    font-family: monospace;
    font-size: 0.75rem;
    outline: none;
}
.card .card-text p button:hover{
    background: #fff;
    color: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#footer {
    font-family: 'Poppins', sans-serif;
    background-color: #242329;
    display: grid;
    place-items: center;
    padding:  100px;
}

/* ======================== */
.icons {
    display: flex;
    column-gap: 35px;
}

.icon {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}

.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: #180A0A;
    outline-color: #180A0A;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}
.cr{
   margin-top: 50px;
   color: white;
}